<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Document</title>
  <style>
    * {
      margin: 0px;
      padding: 0px;
    }


    .nav-link {
      font-size: 20px;
      padding-right: 15px;
    }

    #contact {
      padding-right: 35px;
    }

    header {
      background-color: orangered;
    }

    body {
      position: relative;
      font-weight: 600;
    }

    body::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.2;
      z-index: -2;
    }

    .col-md-7 {
      margin-left: 220px;
      background-color: white;
      height: 880px;
      box-shadow: 3px 3px 2px rgb(218, 214, 214);
      border-radius: 10px;
    }

    .mb-3{
          padding: 20px;
        }
    .g-3 {
      padding-top: 20px;

    }

    .btn {
      background: orangered;
      margin-top: 20px;
      color: white;

    }
    .btn1{
      margin-left: 493px;
    }
    .btn:hover {
      color:#ff8f00;
    }

    .btn a {
      color: white;
      text-decoration: none;
    }

    .btn :hover {
      color: #ff8f00;
    }

    .py-5 img {
      height: 70px;
      width: 100px;
    }
  </style>
</head>

<body>

  <div class="container">
    <main>
      <div class="py-5 text-center">
                <img src="/img/logo.png" alt="">
        <h2>Sign-up Form</h2>
      </div>

      <div class="row g-5">

        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" action="/signup" method="post">
            <div class="row g-3">
              <div class="col-sm-12">
                <label for="firstName" class="form-label">Full name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="" value="" required name="fullname">
                <div class="invalid-feedback">
                  Valid full name is required.
                </div>
              </div>


              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Username" required name="Username" >
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="" value="" required name="pw">
                <div class="invalid-feedback">
                  Valid password is required.
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                <input required type="email" class="form-control" id="emailid" placeholder="you@example.com" name="email">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St"  name="ad1">
                <div class="invalid-feedback">
                  Please enter your address.
                </div>
              </div>

              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or Suite" name="ad2">
              </div>

              <div class="col-12">
                <label for="state" class="form-label">State </label>
                <input type="text" class="form-control" id="states" placeholder="State" name="State">
              </div>

              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required name="pincode">
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>

            <hr class="my-4">
            <small class="text-muted">By clicking Sign Up, you agree to the terms of use.</small>
            <button class=" btn btn-lg btn-group btn1" type="submit">Sign Up</button>

            <button type="button" class=" btn btn-lg btn-group"><a href="/">Cancel</a></button>
          </form>
        </div>
      </div>
    </main>

    <footer class="my- pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2022 Catadogs</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
      (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()</script>

</html>
